main {
    height: 100vh;
    display: flex;
    gap: 5rem;
}
section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
svg {
    height: 80%;
}
h1 {
    color: white;
    font-size: 2rem;
    text-decoration: underline;
}
p {
    color: grey;
    cursor: default;
}
path.selected {
    fill: #335d92;
}
p.selected {
    color: #335d92;
}